<!-- 引用Aplayer和metingjs [MIKUMI]-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@1.2.0/dist/Meting.min.js"></script>
<div id="my-aplayer"
class="aplayer"
data-id="8276622146"
data-server="netease"
data-type="playlist"
data-fixed="false" // 吸底模式可以固定播放器于页面底部
data-fixed="true"
data-autoplay="false"
data-order="random"
data-volume="0.8"
data-theme="#be98aa"
data-preload="auto"
data-mutex="true"
data-listfolded="true"
></div>