//
// Variables
// ==================================================

// Color system
// --------------------------------------------------
$whitesmoke   = hsl(22, 40%, 96%);
$gainsboro    = hsl(22, 38%, 93%);
$grey-lighter = hsl(22, 36%, 87%);
$grey-light   = hsl(22, 34%, 80%);
$grey         = hsl(22, 32%, 73%);
$grey-dark    = hsl(23, 30%, 60%);
$grey-dim     = hsl(23, 28%, 40%);
$black-light  = hsl(23, 26%, 33%);
$black-dim    = hsl(23, 24%, 20%);
$black-deep   = hsl(23, 22%, 13%);
$red          = #bf477f;
$blue-bright  = #fcd7e8;
$blue         = #dca0b2;
$blue-deep    = #be98aa;
$orange       = #465e65;

// Table
// --------------------------------------------------
$table-border-color             = #44342a;
$table-font-size                = $font-size-small;
$table-cell-border-bottom-color = #44342a;
$table-row-odd-bg-color         = rgba(0,0,0,0);
$table-row-hover-bg-color       = #e3ebd2;